body
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
	font-family: "Fira Sans", sans-serif;
	user-select: none;
}

h1, h2, h3, ul, p
{
	margin: 0;
}

@keyframes scaleUpFade
{
	0%
	{
		opacity: 0;
		transform: scale(0.8);
	}

	100%
	{
		opacity: 1;
		transform: scale(1);
	}
}
